extends ../layout

block content
  .middle
    .container
      .jumbotron
        form.well.form-horizontal(action='#', method='Post')
          .form-group
            label.col-sm-3.control-label(for='area') Enter Area :
            .col-sm-7
              input#area.form-control(type='text',name='area')

          .form-group
            .col-sm-5
            button.btn.btn-primary.col-sm-2(type='submit') Search