extends ../layout

block content
  .container
    .row
      each user in dabbawalas 
        .panel.panel-default
          .panel-body.dabbawala
            .col-sm-12
              h3  #{user.name}
            .col-sm-3
              h4  #{user.address}
            .col-sm-4
              - if(user.category.veg)
                h4 Veg 
              - else
                h4 ,Non-Veg
            .col-sm-4
              div
                a.btn.btn-primary.btn-lg(href="#") Show
            .col-sm-3
              h4  #{user.city}
            .col-sm-3
              h4  Order Type
