extends ../layout

block content
  .container
    center
        h3 Login User
      form.well.form-horizontal(action='/users/login', method='post')
        .form-group
          label.col-sm-3.control-label(for='login') Username/E-Mail :
          .col-sm-7
            input#login.form-control(type='text',name='login')

        .form-group
          label.col-sm-3.control-label(for='password') Password :
          .col-sm-7
            input#password.form-control(type='password',name='password')

        center
          .form-group
            button.btn.btn-primary.col-sm-2(type='submit') Submit

          .form-group
            a(href='#') Sign Up 

          .form-group
            a(href='/resetpassword') Forget your Password?

          .form-group
            a(href='/newconfirm') Send Confirmation Email  
