extends ../layout

block content
  .container
    center
        h3 Resend confirmation Email
      form.well.form-horizontal(action='/users/newconfirm', method='Post')
        .form-group
          label.col-sm-3.control-label(for='email') Login :
          .col-sm-7
            input#email.form-control(type='text',name='email')

        .form-group
          button.btn.btn-primary.col-sm-2(type='submit') Resend confirmation Email