extends ../layout

block content
  .container
    center
        h3 Change Your Password
      form.well.form-horizontal(action='/users/newpassword', method='Post')
        input(type='hidden', name='email', value=email)
        .form-group
          label.col-sm-3.control-label(for='npassword') New Password :
          .col-sm-7
            input#npassword.form-control(type='password',name='npassword')

        .form-group
          label.col-sm-3.control-label(for='cpassword') Confirm Password :
          .col-sm-7
            input#cpassword.form-control(type='password',name='cpassword')

        .form-group
          .col-sm-5
          button.btn.btn-primary.col-sm-2(type='submit') Submit



