extends ../layout

block content
  .container
    center
        h3 Enter Additional Information of Services
      form.well.form-horizontal(action='/dabbawalas/#{dabbawala._id}/newDailyMenu', method='Post')
        .form-group
          label.col-sm-3.control-label(for='date') Date :
          .col-sm-7
            input#date.form-control(type='date',name='date')

        .form-group
        .form-group
          label.col-sm-3.control-label Breakfast :
          label.col-sm-2.control-label Vegetarian :
          .col-sm-1
            textarea#lunch_veg.input-xlarge(rows='3',name='breakfast_veg' placeholder='Menu for Veg')
          .form-group
          .col-sm-3  
          label.col-sm-2.control-label Non-Vegetarian :
          .col-sm-1
            textarea#lunch_nonveg.input-xlarge(rows='3',name='breakfast_nonveg' placeholder='Menu for Non-Veg')

        .form-group
        .form-group
          label.col-sm-3.control-label Lunch :
          label.col-sm-2.control-label Vegetarian :
          .col-sm-1
            textarea#lunch_veg.input-xlarge(rows='3',name='lunch_veg' placeholder='Menu for Veg')
          .form-group
          .col-sm-3  
          label.col-sm-2.control-label Non-Vegetarian :
          .col-sm-1
            textarea#lunch_nonveg.input-xlarge(rows='3',name='lunch_nonveg' placeholder='Menu for Non-Veg')

        .form-group
        .form-group
          label.col-sm-3.control-label Dinner :
          label.col-sm-2.control-label Vegetarian :
          .col-sm-1
            textarea#dinner_veg.input-xlarge(rows='3',name='dinner_veg' placeholder='Menu for Veg')
          .form-group
          .col-sm-3  
          label.col-sm-2.control-label Non-Vegetarian :
          .col-sm-1
            textarea#dinner_nonveg.input-xlarge(rows='3',name='dinner_nonveg' placeholder='Menu for Non-Veg')


        .form-group
          .col-sm-3
          button.btn.btn-primary.col-sm-2(type='submit') Submit
          .col-sm-1
          button.btn.btn-primary.col-sm-2(type='button') Cancel