extends ../layout

block content
  .container
    center
        h3 Enter Additional Information of Services
      form.well.form-horizontal(action='/edit', method='Post')
        .form-group
          label.col-sm-3.control-label(for='area') Area where you can provide tiffin :
          .col-sm-7
            input#area.form-control(type='text',name='area')

        .form-group
          label.col-sm-3.control-label(for='cate') Category of food you are providing :
          .col-sm-7
            input#slname.form-control(type='text',name='slname')
            
        .form-group
          label.col-sm-3.control-label(for='slname') Types of order you are excepting :
          .col-sm-7
            input#slname.form-control(type='text',name='slname')

        .form-group
          label.col-sm-3.control-label(for='fee') Fee : 
          .input-group.col-sm-7
            span.input-group-addon $
            input#fee.form-control(type='text',name='fee')
            span.input-group-addon .00

        .form-group
          button.btn.btn-primary.col-sm-2(type='submit') Submit