extends ../layout

block content
  .container
    center
        h3 Login Dabbawala
      form.well.form-horizontal(action='/dabbawalas/login', method='post')
        .form-group
          label.col-sm-3.control-label(for='login') Username/E-Mail :
          .col-sm-7
            input#login.form-control(type='text',name='login')

        .form-group
          label.col-sm-3.control-label(for='password') Password :
          .col-sm-7
            input#password.form-control(type='password',name='password')

        .form-group
          .col-sm-5
          button.btn.btn-primary.col-sm-2(type='submit') Submit

        .form-group
          .col-sm-5
          a(href='/dabbawalas/register') Sign Up 

        .form-group
          .col-sm-5
          a(href='/dabbawalas/resetpassword') Forget your Password?

        .form-group
          .col-sm-5
          a(href='/dabbawalas/newconfirm') Send Confirmation Email  
